<style>
    .p{
        text-align:justify;
        font-family:'Times New Roman';
        font-size:19px;
    }
</style>


<h2><b>Ecommerce store</b></h2>

<br />

<p class="p">
    Ecommerce, also known as electronic commerce or internet commerce, refers to the buying and selling of goods or services using the internet, and the transfer of money and data to execute these transactions. Ecommerce is often used to refer to the sale of physical products online, but it can also describe any kind of commercial transaction that is facilitated through the internet.

    Whereas e-business refers to all aspects of operating an online business, ecommerce refers specifically to the transaction of goods and services.

   <br /> The history of ecommerce begins with the first ever online sale: on the August 11, 1994 a man sold a CD by the band Sting to his friend through his website NetMarket, an American retail platform. This is the first example of a consumer purchasing a product from a business through the World Wide Web—or “ecommerce” as we commonly know it today.

    Since then, ecommerce has evolved to make products easier to discover and purchase through online retailers and marketplaces.  Independent freelancers, small businesses, and large corporations have all benefited from ecommerce, which enables them to sell their goods and services at a scale that was not possible with traditional offline retail.

   <br /> Global retail ecommerce sales are projected to reach $27 trillion by 2020.
</p>


<h2><b>Types of Ecommerce Models</b></h2>

<p class="p">
    <br />There are four main types of ecommerce models that can describe almost every transaction that takes place between consumers and businesses.
    <br />
    <br /><b>1. Business to Consumer (B2C):</b>
    When a business sells a good or service to an individual consumer (e.g. You buy a pair of shoes from an online retailer).
    <br />
    <br /><b>2. Business to Business (B2B):</b>
    When a business sells a good or service to another business (e.g. A business sells software-as-a-service for other businesses to use)
    <br />
    <br /><b>3. Consumer to Consumer (C2C):</b>
    When a consumer sells a good or service to another consumer (e.g. You sell your old furniture on eBay to another consumer).
    <br />
    <br /><b>4. Consumer to Business (C2B):</b>
    When a consumer sells their own products or services to a business or organization (e.g. An influencer offers exposure to their online audience in exchange for a fee, or a photographer licenses their photo for a business to use).
    <br />
    <br /><b>Examples of Ecommerce: </b><br />
    <br />Ecommerce can take on a variety of forms involving different transactional relationships between businesses and consumers, as well as different objects being exchanged as part of these transactions.
    <br />
    <br /><b> 1. Retail:</b>
    The sale of a product by a business directly to a customer without any intermediary.
    <br />
    <br /><b>2. Wholesale:</b>
    The sale of products in bulk, often to a retailer that then sells them directly to consumers.
    <br />
    <br /><b>3. Dropshipping:</b>
    The sale of a product, which is manufactured and shipped to the consumer by a third party.
    <br />
    <br /><b>4. Crowdfunding:</b>
    The collection of money from consumers in advance of a product being available in order to raise the startup capital necessary to bring it to market.
    <br />
    <br /><b>5. Subscription:</b>
    The automatic recurring purchase of a product or service on a regular basis until the subscriber chooses to cancel.
    <br />
    <br /><b> 6. Physical products:</b>
    Any tangible good that requires inventory to be replenished and orders to be physically shipped to customers as sales are made.
    <br />
    <br /><b> 7. Digital products:</b>
    Downloadable digital goods, templates, and courses, or media that must be purchased for consumption or licensed for use.
    <br />
    <br /><b> 8. Services:</b>
    A skill or set of skills provided in exchange for compensation. The service provider’s time can be purchased for a fee.
</p>

<h2><b>Programming languages that were used to build this page are: </b></h2>

<ul class="p">
    <br />
    <li>.Net</li>
    <li>Asp.Net</li>
    <li>C sharp (C#)</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Stripe (for payment)</li>
    <li>SQL (for database)</li>
</ul>